<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
       * {
            box-sizing: border-box;
            
        }

        

        main {
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            /* min-height: 50%; */
            flex-grow: 1;
            flex-shrink: 1;
            overflow:auto;
        }

        body {
            background: rgb(52, 73, 94);;
            margin: 0;
        }
        
        label {
            justify-self: end;
            ;
        }

        #controls {
            /* min-height: 20%; */
            font-size: 1.4rem;
            display: grid;
            grid-template-columns: 1fr 6fr 1fr 1fr;
            grid-auto-rows: 1.4rem;
            ;
            grid-gap: .5rem;
            max-width: 70rem;

        }

        #output {
            width: 100%;
            height: 100%;
            background: #eee;
            overflow: auto;
            margin: 0;
        }
        #output p {
            border-bottom: 1px solid grey;
            padding-bottom: .25rem;
        }
        #header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #header li {
            display: block;
            font-style: italic;
            font-size: 1.2rem;
            padding: .25rem;
            margin:0 1rem;
        }
        .formstyle {
            color: rgb(101, 198, 187);
            position: fixed;
            top: 25%;
            left: 15%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            ;
            padding: .5rem;
            
        }
        

        .loginbutton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.loginbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.loginbutton:hover span {
  padding-right: 25px;
}

.loginbutton:hover span:after {
  opacity: 1;
  right: 0;
}

    </style>
</head>
<body>

    <form id="registrationForm" class="formstyle" method="POST" action="" role="form">
        <dl>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <dt>Enter new username:</dt>
            {{ form.username}}<br>
            <dt>Enter new password:</dt>
            {{ form.password}}<br>
            <dt>Confirm password:</dt>
            {{ form.confirm}}<br>
            <dt>Admin or user?</dt>
            {{ form.role}}<br>
            <dt>If admin, type in admin password:</dt>
            {{ form.adminPassword}}<br>

            {% for message in get_flashed_messages(False, ["RegistrationError"]) %}
                <b>{{message}}</b>
            {% endfor %}
            
        </dl>
        <p><button class="loginbutton" type="submit"><span>Register</span></button> </p>
        <!--
            <button class = "loginbutton" type = submit> <span>Login</span></button> 
             <a href = "/goto_registration">  <button class = "registerbutton" type = "button"> <span> Register new user</span> </button> </a>
        -->
    </form>
</body>
</html>